{% extends 'ex/base.html' %}
{% block title %}Article details{% endblock %}

{% block body %}
{% include 'ex/nav.html' %}
<dl class="dl-horizontal">
	<dt>Title:</dt>
	<dd>{{ article.title }}</dd>
	<dt>Author:</dt>
	<dd>{{ article.author }}</dd>
	<dt>Created:</dt>
	<dd>{{ article.created }}</dd>
	<dt>Synopsis:</dt>
	<dd>{{ article.synopsis }}</dd>
	<dt>Content:</dt>
	<dd>{{ article.content }}</dd>
</dl>
{% if user.is_authenticated %}
<form method="post" action="{% url 'add-favourite' %}">
	{% csrf_token %}
	{{ form }}
	<button type="submit" class="btn btn-primary">Favorite</button>
</form>
{% endif %}
{% endblock %}
