<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        <span class="glyphicon glyphicon-book the-icon" aria-hidden="true"></span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if current_page == 'articles' %}active{% endif %}"><a class="nav-link" href="{% url 'articles' %}">Articles</a></li>
        {% if user.is_authenticated %}
        <li class="{% if current_page == 'favourites' %}active{% endif %}"><a class="nav-link" href="{% url 'favourites' %}">Favourites</a></li>
        <li class="{% if current_page == 'publications' %}active{% endif %}"><a class="nav-link" href="{% url 'publications' %}">Publications</a></li>
        {% else %}
        <li class="{% if current_page == 'register' %}active{% endif %}"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>

      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text navbar-left">Logged as {{ user }}</p></li>
        <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
      </ul>
      {% else %}
      <form class="navbar-form navbar-right" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          {{ login_form }}
        </div>
        <button class="btn btn-default" type="submit">Login</button>
      </form>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
