{% extends 'ex/base.html' %}
{% block title %}Publications{% endblock %}

{% block body %}
{% include 'ex/nav.html' %}
<table>
	<tr>
		<th>Title</th>
		<th>Created</th>
		<th>Synopsis</th>
		<th></th>
	</tr>
	{% for article in object_list|dictsortreversed:"created" %}
	<tr>
		<td>{{ article.title }}</td>
		<td>{{ article.created|timesince }}</td>
		<td>{{ article.synopsis|truncatechars:21 }}</td>
		<td><a href="{% url 'detail' article.pk %}">Detail</a></td>
	</tr>
	{% endfor %}
</table>
<a href="{% url 'publish' %}">Create new publication</a>
{% endblock %}
